.footer {
  background: url('./img/footer-bg.png') 50% 50% no-repeat;
  background-size: cover;
  .footer-content {
    margin: 0px 200px;
    padding: 100px 0 50px 0;
    font-size: 16px;
    color: $card-text-color;
    .footer-logo {
      background: url('./img/logo.png') no-repeat;
      width: 180px;
      height: 48px;
      background-size: contain;
      margin-bottom: 60px;
    }
    .footer-caption {
      font-size: 32px;
      color: $text-color;
      margin-bottom: 60px;
    }
    .contact-text {
      p {
        margin: 30px 0;
        a {
          text-decoration: none;
          color: $card-text-color;
        }
      }
    }
    ul {
      list-style: none;
      li {
        margin-bottom: 30px;
        a {
          text-decoration: none;
          color: $card-text-color;
        }
      }
    }

    .contact-form-area {
      margin-top: 60px;
      form {
        input[type="email"] {
          background-color: #e7edff;
          border: none;
          border-bottom: 1px solid #bbc7d7;
          width: 100%;
          padding: 10px 0;
        }
        input[type="submit"] {
          background-color: $button-color;
          font-size: 22px;
          color: #fff;
          border-radius: 30px;
          border: none;
          padding: 10px 25px;
          letter-spacing: 2px;
          margin-top: 30px;
          cursor: pointer;
          display: block;
          &:active {
            outline: none;
          }
        }
      }
    }

    .copywriting-block {
      font-size: 18px;
      color: $text-color;
      margin-top: 70px;
    }
  }
}



@media only screen and (max-width: 1600px) {
  .footer {
    .footer-content {
      margin: 0 100px;
    }
  }
}

@media only screen and (max-width: 1400px) {
  .footer {
    .footer-content {
      margin: 0 50px;
    }
  }
}

@media only screen and (max-width: 1300px) {
  .footer {
    .footer-content {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 992px) {
  .footer {
    .footer-content {
      margin: 40px 0 0 0;
      ul {
        li {
          margin-bottom: 15px;
        }
      }
      .footer-logo {
        margin-bottom: 40px;
      }
      .footer-caption {
        font-size: 28px;
        margin-bottom: 40px;
      }
    }
  }
}


@media only screen and (max-width: 768px) {
  .footer {
    .footer-content {
      .footer-caption {
        margin-bottom: 20px;
      }
      .contact-form-area {
        margin-top: 15px;
        form {
          input[type="email"] {
            width: 70%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 576px) {
  .footer {
    .footer-content {
      font-size: 14px;
    }
  }
}
