.services-section {
  position: relative;
  overflow: hidden;
  .bg-left-elem {
    background: url('./img/rectangle-left-bg.png') 50% 50% no-repeat;
    width: 1300px;
    height: 1000px;
    position: absolute;
    background-size: contain;
    top: 0;
    left: -150px;
  }

  .bg-small-figure-elem {
    background: url('./img/small-figure-bg.png') 50% 50% no-repeat;
    width: 2000px;
    height: 2000px;
    position: absolute;
    background-size: contain;
    top: 91px;
    left: -182px;
  }
  .services-section-content {
    margin: 0px 200px 230px 200px;
    .service-blocks {
      .service-block {
        background-color: #fff;
        max-width: 265px;
        height: 265px;
        border-radius: 10px;
        margin:20px 0 40px 0;
        position: relative;
        font-size: 22px;
        cursor: pointer;
        color: $text-color;
        box-shadow: 0px 0px 27px -2px rgba(0,0,0,0.2);

        &:hover {
          box-shadow: 0px 0px 27px -2px rgba(0,0,0,0.4);
        }
        &:active {
          box-shadow: 0px 0px 17px -2px rgba(0,0,0,0.4);
        }

        .service-block__img {
          width: 140px;
          height: 140px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, -75%);
        }

        .design-img {
          background: url('./img/bg-design-block.png') 50% 50% no-repeat;
        }
        .mob-apps-img {
          background: url('./img/bg-dev-block.png') 50% 50% no-repeat;
        }
        .web-dev-img {
          background: url('./img/bg-web-dev-block.png') 50% 50% no-repeat;
        }
        .testing-img {
          background: url('./img/bg-testing-block.png') 50% 50% no-repeat;
        }
        .serv-support-img {
          background: url('./img/bg-support-block.png') 50% 50% no-repeat;
        }
        .copywritting-img {
          background: url('./img/bg-copywriting-block.png') 50% 50% no-repeat;
        }

        .service-block__caption {
          text-align: center;
          position: absolute;
          bottom: 35px;
          left: 50%;
          margin-right: -50%;
          transform: translate(-50%, 0%);
        }
      }
    }
    .service-text {
      margin: 200px 0 0 230px;

      .mt-35 {
        margin-top: 35px;
      }

      .dynamic-text {
        font-size: 20px;
        color: $caption-color;
        margin-top: 60px;
      }
    }
  }

  .services-section-technology {
    margin: 60px 100px 230px 100px;
    .icons-technology {
      margin-top: 60px;
      min-height: 490px;
      width: 1440px;
      box-shadow: 0px 0px 27px -2px rgba(0,0,0,0.2);
      padding: 0 15px;
      border-radius: 20px;
      background-color: #fff;
        .row-icons {
          width: 100%;
          .icon-tech {
            width: 120px;
            height: 100px;
            margin: 20px;
          }
          .json-img {
            background: url('./img/sprite-tehnology.png') 7px -7px no-repeat;
          }
          .docker-img {
            background: url('./img/sprite-tehnology.png') -186px -7px no-repeat;
          }
          .ios-img {
            background: url('./img/sprite-tehnology.png') -370px -7px no-repeat;
          }
          .aws-img {
            background: url('./img/sprite-tehnology.png') -538px -7px no-repeat;
          }
          .mysql-img {
            background: url('./img/sprite-tehnology.png') -697px -7px no-repeat;
          }
          .php-img {
            background: url('./img/sprite-tehnology.png') -859px -7px no-repeat;
          }
          .nodejs-img {
            background: url('./img/sprite-tehnology.png') -1016px -3px no-repeat;
          }
          .bigdata-img {
            background: url('./img/sprite-tehnology.png') -1207px -1px no-repeat;
          }
          .objc-img {
            background: url('./img/sprite-tehnology.png') 6px -140px no-repeat;
          }
          .java-img {
            background: url('./img/sprite-tehnology.png') -190px -130px no-repeat;
          }
          .android-img {
            background: url('./img/sprite-tehnology.png') -371px -129px no-repeat;
          }
          .git-img {
            background: url('./img/sprite-tehnology.png') -538px -129px no-repeat;
          }
          .sqlite-img {
            background: url('./img/sprite-tehnology.png') -698px -129px no-repeat;
          }
          .c-img {
            background: url('./img/sprite-tehnology.png') -861px -129px no-repeat;
          }
          .js-img {
            background: url('./img/sprite-tehnology.png') -1019px -129px no-repeat;
          }
          .raspberry-img {
            background: url('./img/sprite-tehnology.png') -1207px -129px no-repeat;
          }
          .sass-img {
            background: url('./img/sprite-tehnology.png') 9px -272px no-repeat;
          }
          .bootstrap-img {
            background: url('./img/sprite-tehnology.png') -186px -272px no-repeat;
          }
          .jqwery-img {
            background: url('./img/sprite-tehnology.png') -370px -272px no-repeat;
          }
          .laravel-img {
            background: url('./img/sprite-tehnology.png') -538px -272px no-repeat;
          }
          .swift-img{
            background: url('./img/sprite-tehnology.png') -702px -272px no-repeat;
          }
          .html-img{
            background: url('./img/sprite-tehnology.png') -859px -272px no-repeat;
          }
          .css-img {
            background: url('./img/sprite-tehnology.png') -1016px -272px no-repeat;
          }
          .postgree-img {
            background: url('./img/sprite-tehnology.png') -1207px -272px no-repeat;
          }
        }
    }
  }
}


@media only screen and (max-width: 1800px) {
  .services-section {
    .services-section-content {
      .service-text {
        margin: 200px 0 0 130px;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .services-section {
    .services-section-content {
      margin: 0 100px 230px 100px;
    }
    .services-section-technology {
      margin: 0 100px 230px 100px;
      .icons-technology {
        .row-icons {
          .icon-tech {
            margin: 20px 10px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .services-section {
    .services-section-content,
    .services-section-technology {
      margin: 0 50px 230px 50px;
    }
    .services-section-technology {
      .service-text {
        margin: 200px 0 0 80px;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  .services-section {
    .services-section-content {
      .service-text {
        margin: 200px 0 0 50px;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .services-section {
    .services-section-content {
      margin: 50px;
      .service-text {
        margin: 50px 0;
      }
      .mob-reverse {
        flex-direction: column-reverse;
      }
    }
    .services-section-technology {
      margin: 50px 0;
    }
  }
}

@media only screen and (max-width: 576px) {
  .services-section {
    .services-section-technology {
      .icons-technology {
        .row-icons{
          .icon-tech {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

// .service-block__caption {
//   text-align: center;
//   position: absolute;
//   bottom: 10px;
//   left: 50%;
//   margin-right: -50%;
//   transform: translate(-50%, 0%);
//   font-size: 16px;
// }
// .service-block__img {
//   width: 80px;
//   height: 80px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   margin-right: -50%;
//   transform: translate(-50%, -80%);
// }
// .design-img {
//   background: url(./img/bg-design-block.png) 50% 50% no-repeat;
//   background-size: contain;
// }